#!/bin/zsh

set -eufo pipefail

{{ $brews := list
     "bat"
     "btop"
     "chezmoi"
     "curl"
     "eza"
     "fd"
     "ffmpeg"
     "fzf"
     "gh"
     "git"
     "jless"
     "jq"
     "lazygit"
     "mactop"
     "mole"
     "neovim"
     "node"
     "pkg-config"
     "ripgrep"
     "shellcheck"
     "starship"
     "tmux"
     "tree-sitter-cli"
     "wget"
     "zoxide" -}}
{{ $trustedBrews := list
     "can1357/tap/omp" -}}
{{ $casks := list
     "coconutbattery"
     "codex"
     "codex-app"
     "font-maple-mono-nf-cn"
     "google-chrome"
     "homerow"
     "kitty"
     "multitouch"
     "thunder"
     "uuremote"
     "visual-studio-code"
     "wechatwebdevtools"
     "winbox" -}}
brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($trustedBrews | sortAlpha | uniq) -}}
brew "{{ . }}", trusted: true
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
