#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "age"
     "bat"
     "btop"
     "croc"
     "curl"
     "dockutil"
     "eza"
     "fd"
     "ffmpeg"
     "fish"
     "fzf"
     "gdu"
     "gh"
     "git"
     "git-lfs"
     "gnu-units"
     "go"
     "golangci-lint"
     "jless"
     "jq"
     "neovim"
     "node"
     "pkg-config"
     "ripgrep"
     "shellcheck"
     "starship"
     "tmux"
     "wget"
     "xz"
     "yt-dlp"
     "zoxide" -}}
{{ $casks := list
     "coconutbattery"
     "codex"
     "codex-app"
     "font-maple-mono-nf-cn"
     "google-chrome"
     "homerow"
     "kitty"
     "multitouch"
     "thunder"
     "uuremote"
     "visual-studio-code"
     "wechatwebdevtools"
     "winbox" -}}
{{ $trustedCasks := list
     "nikitabobko/tap/aerospace" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range ($trustedCasks | sortAlpha | uniq) -}}
cask "{{ . }}", trusted: true
{{ end -}}
EOF
