[user]
	name = lujimin
	email = ljm@vip.qq.com
[alias]
	a = add
	ap = add -p
	b = branch
	c = clone
	ca = commit --amend
	cane = commit --amend --no-edit
	cf = commit --fixup
	cm = commit --message
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	d = diff
	dc = diff --cached
	fo = fetch origin
	g = grep --line-number
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	p = push
	pf = push --force-with-lease
	prb = pull --rebase
	r = restore
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	rl = reflog
	s = status -sb
	su = submodule update
	wd = diff --patience --word-diff
{{- $ghPath := lookPath "gh" }}
{{- if $ghPath }}
[credential "https://github.com"]
	helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
	helper = !{{ $ghPath }} auth git-credential
{{- end }}
