{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/aerospace
.config/homebrew
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.local/bin/nvim
.local/share/fonts
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
{{ else }}
.config/tmux
.tmux.conf
{{ end }}
