{{/* boolean feature tags */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- if eq $hostname "macbook-air-m3" -}}
{{-   $personal = true -}}
{{- else if eq $hostname "thinkpad" -}}
{{-   $personal = true -}}
{{- else if eq $hostname "ubuntu" "ubuntu-26" -}}
{{-   $personal = true -}}
{{- else if eq $hostname "zrh-mpl3s" -}}
{{-   $work = true -}}
{{- end -}}

{{- $email := "ljm@vip.qq.com" -}}
{{- if $work -}}
{{-   $email = "ljm@vip.qq.com" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    work = {{ $work }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}

{{- if lookPath "podman" }}

[docker]
    command = "podman"
{{- end }}

[github]
    refreshPeriod = "12h"
